@inject IHttpContextAccessor accessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DriveUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DriveUI.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-sm">
                <div style="display:flex; align-items:center; width:32%;">
                    <img src="~/eti-maden-logo.jpg" style="width:30%; height:30%" />
                    <p class="navbar-brand">Drive</p>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-between">
                    @if (accessor.HttpContext.Session.GetString("UserRole") != null && accessor.HttpContext.Session.GetString("UserRole") == "Admin")
                    {
                        <ul class="navbar-nav flex-grow-0">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="GetUsers">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Folder" asp-action="GetFolders">Folders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Document" asp-action="GetDocumentList">Documents</a>
                            </li>
                            @*                            <li class="nav-item">
                        <a class="nav-link text-dark" href="/Document/GetDocumentList/@accessor.HttpContext.Session.GetInt32("UserID")">Documents</a>
                        </li>*@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="GetRoles">Roles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="RoleAuthority" asp-action="GetRoleAuthorities">Role Authority</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="UserAuthority" asp-action="GetUserAuthorities">User Authority</a>
                            </li>
                        </ul>
                    }
                    @if (accessor.HttpContext.Session.GetString("UserRole") != null && (accessor.HttpContext.Session.GetString("UserRole") != "Admin" && accessor.HttpContext.Session.GetString("UserRole") != "No Role"))
                    {
                        <ul class="navbar-nav flex-grow-0">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Document/GetDocumentList/@accessor.HttpContext.Session.GetInt32("UserID")">Documents</a>
                            </li>
                        </ul>
                        <div>
                            <form method = "get" asp-action="GetDocumentListByRole" asp-controller="Document" style="display:flex; align-items:center;">
                                <span class="material-symbols-outlined" style="margin-right:15px;">
                                    search
                                </span>
                                <input type="text" name="searchTerm" placeholder="Search..." class="form-control" />
                            </form>
                        </div>
                    }
                    @if (accessor.HttpContext.Session.GetString("UserName") != null)
                    {
                        <div class="nav-item text-dark" style="display:flex; align-items:center;">
                            <a style="margin-right:15px;" class="btn btn-outline-success text-success" href="/Login/MyProfile/@accessor.HttpContext.Session.GetInt32("UserID")">
                                @accessor.HttpContext.Session.GetString("UserName")'s Profile
                            </a>

                            <a class="btn btn-outline-danger" asp-area="" asp-controller="Login" asp-action="Logout">
                                @accessor.HttpContext.Session.GetString("UserName") Log Out!
                            </a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid" style="display:flex; align-items:center;">
            &copy; 2023 - Developed by <a class="nav-link text-dark" href="~/orhangazibarakcv.html">
                Orhan Gazi Barak
            </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
