@*@model EntityLayer.Concrete.DocumentType

@{
    ViewData["Title"] = "Add Document Type";
}

<h1>Add Document Type </h1>
<hr />

<div class="row">
    <div class="col-md-4" style="margin:auto;">
        <form asp-action="AddDocumentType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-bottom:15px;">
                <label asp-for="DocumentTypeName" class="control-label">Name</label>
                <input asp-for="DocumentTypeName" class="form-control" />
                <span asp-validation-for="DocumentTypeName" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; justify-content:space-between">
                <input type="submit" value="Add" class="btn btn-primary" />
                <a asp-action="GetDocumentTypeList" class="btn btn-light">Back To Document Types</a>
            </div>
        </form>
    </div>
</div>*@

