@using EntityLayer.Concrete
@model List<User>

<div style="display:flex; justify-content:center;">

    <a href="/User/AddUser" class="btn btn-outline-secondary" style="display:flex; align-items:center;">
        <span class="material-symbols-outlined">
            add_circle
        </span>
        New User
    </a>
</div>

<br />

<table class="table table-striped table-hover text-center">
    <tr>
        <th>Name</th>
        <th>Mail</th>
        <th>Role Name</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Mail</td>
            <td>@item.Role.RoleName</td>
            <td>
                <div style="display:flex; justify-content:space-evenly;">
                    <a href="/User/UserUpdate/@item.UserID" class="btn btn-outline-primary" style="display:flex; align-items:center;">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                        Edit
                    </a>
                    <a href="/User/UserDetails/@item.UserID" class="btn btn-outline-info" style="display:flex; align-items:center;">
                        <span class="material-symbols-outlined">
                            info_i
                        </span>
                        Details
                    </a>
                    <a href="/User/RemoveUser/@item.UserID" class="btn btn-outline-danger" style="display:flex; align-items:center;">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                        Delete
                    </a>
                </div>

            </td>
        </tr>
    }
</table>