@using EntityLayer.Concrete
@model List<RoleAuthority>

<div style="display:flex; justify-content:center;">

    <a href="/RoleAuthority/AddRoleAuthorities" class="btn btn-outline-secondary" style="display:flex; align-items:center;">
        <span class="material-symbols-outlined">
            add_circle
        </span>
        New Role Authority
    </a>
</div>

<br />

<table class="table table-striped table-hover text-center">
    <tr>
        <th>Folder Name</th>
        <th>Role Name</th>
        <th>Actions</th>
    </tr>

   @foreach (var item in Model)
    {
        <tr>
            <td>@item.Folder.FolderName</td>
            <td>@item.Role.RoleName</td>
            <td>
                <div style="display:flex; justify-content:space-evenly;">
                    <a href="/RoleAuthority/RoleAuthorityUpdate/@item.RoleAuthorityID" class="btn btn-outline-primary" style="display:flex; align-items:center;">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                        Edit
                    </a>
                    <a href="/RoleAuthority/RoleAuthorityDetails/@item.RoleAuthorityID" class="btn btn-outline-info" style="display:flex; align-items:center;">
                        <span class="material-symbols-outlined">
                            info_i
                        </span>
                        Details
                    </a>
                    <a href="/RoleAuthority/RemoveRoleAuthority/@item.RoleAuthorityID" class="btn btn-outline-danger" style="display:flex; align-items:center;">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                        Delete
                    </a>
                </div>

            </td>
        </tr>
    }
</table>