@model EntityLayer.Concrete.User

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @TempData["loginInformationsHome"]</h1>
    <h2 class="display-4">Your role is @TempData["userRole"]</h2>
</div>
