@using EntityLayer.Concrete
@model List<Role>

<div style="display:flex; justify-content:center;">

    <a href="/Role/AddRole" class="btn btn-outline-secondary" style="display:flex; align-items:center;">
        <span class="material-symbols-outlined">
            add_circle
        </span>
        New Role
    </a>
</div>

<br />

<table class="table table-striped table-hover text-center">
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.RoleName</td>
            <td>
                <div style="display:flex; justify-content:space-evenly;">
                    <a href="/Role/RoleUpdate/@item.RoleID" class="btn btn-outline-primary" style="display:flex; align-items:center;">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                        Edit
                    </a>
                    <a href="/Role/RoleDetails/@item.RoleID" class="btn btn-outline-info" style="display:flex; align-items:center;">
                        <span class="material-symbols-outlined">
                            info_i
                        </span>
                        Details
                    </a>
                    <a href="/Role/RemoveRole/@item.RoleID" class="btn btn-outline-danger" style="display:flex; align-items:center;">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                        Delete
                    </a>
                </div>

            </td>
        </tr>
    }
</table>