@model EntityLayer.Concrete.Role

@{
    ViewData["Title"] = "Role Details";
}

<h1>@Model.RoleName's Deatils</h1>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Role ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleID)
        </dd>
        <dt class = "col-sm-2">
            Role Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
        <dt class="col-sm-2">
            Folder Name
        </dt>
        <dd class="col-sm-10">
            @ViewBag.RoleFolder
        </dd>
    </dl>
    <div style="display:flex; justify-content:space-between; margin-top:15px;">
        <a href="/Role/RoleUpdate/@Model.RoleID" class="btn btn-primary">Update</a>
        <a asp-action="GetRoles" class="btn btn-light">Back to List</a>
    </div>
</div>
