@model EntityLayer.Concrete.Folder

@{
    ViewData["Title"] = "Add Folder";
}

<h1>Add Folder</h1>
<hr />

<div class="row">
    <div class="col-md-4" style="margin:auto">
        <form asp-action="AddFolder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-bottom:15px;">
                <label asp-for="FolderName" class="control-label">Name</label>
                <input asp-for="FolderName" class="form-control" />
                <span asp-validation-for="FolderName" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom:15px;">
                <label asp-for="RootFolderID" class="control-label">Root Folder Name</label>
                @Html.DropDownListFor(x => x.RootFolderID, (List<SelectListItem>)ViewBag.Folders, new {@class = "form-control"})
                <span asp-validation-for="RootFolderID" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; justify-content:space-between">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


