@model EntityLayer.Concrete.Folder

@{
    ViewData["Title"] = "FolderDetails";
}

<h1>FolderDetails</h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Folder ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FolderID)
        </dd>
        <dt class = "col-sm-2">
            Folder Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FolderName)
        </dd>
        <dt class = "col-sm-2">
            Root Folder ID
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.ParentFolderName
        </dd>
    </dl>
    <div style="display:flex; justify-content:space-between; margin-top:15px;">
        <a href="/Folder/FolderUpdate/@Model.FolderID" class="btn btn-primary">Update</a>
    </div>
</div>
